// globals
$unactive: #dfddd6;
$primary: #104d43;

// texts
$regularText: #000403;
$invertRegularText: #fff;

$unactiveText: #888888;

// background
$activeBackground: #fff;
$invertActiveBackground: #104d43;

$unactiveBackground: #f4f3f2;

$secondaryBackground: #dfe1e6;
$secondaryBackgroundHalf: rgba(224, 225, 230, 0.5);

// borders
$regularBorder: #dfe1e6;
$secondaryBorder: #d4d4d4;
